#cards{
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.card{
  /* 卡片在容器裡的排版 */
  /* 4排 一排13張*/
  flex: 7% 1 1 ;
  height: 8vw;
  border: 2px solid #e0e0e0;
  margin: 2px;
  /* 卡片在元素的排版 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  /* 設定box-sizing 才能讓排尺寸固定 */
}

.card img {
  max-width: 30%;
  align-self: center;
  /* 排交叉軸用得 */
}

.card p {
margin: 3px;
font-size: 10px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3 ;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
display: flex;
width: 100%;
justify-content: flex-end;
}

#header .title img {
max-width: 3em;
}

#header .title h2 {
padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c906c;
}

#header .tried {
  margin-top: 0;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
  /* 動畫會播幾次 每次0.2秒 總共5次 耗時1秒 */
}
@keyframes wrongAnimation {
  /* 0及100是關鍵影格 */
  /* 初始狀況不會變 最後的畫面牌組會閃爍 */
  to {
    border: 2px solid #f1c232;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}